body {
  background: dodgerblue;
  color: wheat;
  font-family: 'Raleway', Helvetica, sans-serif; }

h1 {
  text-align: center;
  font-weight: 200;
  font-style: italic; }

.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em; }

.movie-card {
  flex-basis: 30%;
  text-align: center;
  margin: 3em 0;
  padding-bottom: 4em;
  position: relative;
  -webkit-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.61); }
